@model Shop.Models.Email.EmailViewModel

<h1></h1>

<div class="container mt-4">
    <form method="post" asp-controller="Email" asp-action="SendEmail">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-3">
                <label asp-for="To" class="form-label">To</label>
                <input asp-for="To" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 mb-3">
                <label asp-for="Subject" class="form-label">Subject</label>
                <input asp-for="Subject" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 mb-3">
                <label asp-for="Body" class="form-label">Body</label>
                <textarea asp-for="Body" class="form-control"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <button type="submit" class="btn btn-primary">Send Email</button>
            </div>
        </div>
    </form>
</div>
