
<link rel="stylesheet" href="~/css/Kindergaten.css" asp-append-version="true" />
<div class="snow">
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
    <div class="snowflake"> <span> </span></div>
</div>