<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
    <script src="~/js/app1.css"></script> 

</head>
<body>
    <header>





                        
                            <div class="bars" id="nav-action">
                                <span class="bar"> </span>
                            </div>

                     
                            <nav id="nav">
                                <ul>
                                    <li class="shape-circle circle-one"><a asp-area="" asp-controller="Home" asp-action="Index">Homet</a></li>
                                    <li class="shape-circle circle-two"><a asp-area="" asp-controller="Spaceships" asp-action="Index">Spaceship</a></li>
                                    <li class="shape-circle circle-three"><a asp-area="" asp-controller="RealEstate" asp-action="Index">Realestate</a></li>
                                    <li class="shape-circle circle-five"> <a asp-area="" asp-controller="Kindergartens" asp-action="Index">Kindergarten</a></li>
                                   <li class="shape-circle circle-three"><a asp-area="" asp-controller="OpenWeathers" asp-action="Index">Open Weather</a></li>
                                   
                                </ul>
                            </nav>

                 


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year  Product of education  <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
           
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    // Setting up the Variables
    var bars = document.getElementById("nav-action");
    var nav = document.getElementById("nav");


    //setting up the listener
    bars.addEventListener("click", barClicked, false);


    //setting up the clicked Effect
    function barClicked() {
        bars.classList.toggle('active');
        nav.classList.toggle('visible');
    }
</script>
