@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Neonderthaw&display=swap");

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/11/04/506090/306137483e358d1233f42119d8d47d59.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

.neon {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Neonderthaw', cursive;
    font-size: 6rem;
    color: white;
    z-index: 1; /* Ensure neon text appears above the footer */
}

    .neon .green {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49FF18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49FF18;
    }

    .neon .red {
        animation: flashing 1s infinite;
    }

@keyframes flashing {
    0% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF3131, 0 0 30px #FF3131, 0 0 40px #FF3131, 0 0 55px #FF3131, 0 0 75px #FF3131;
    }

    10% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF3131, 0 0 30px #FF3131, 0 0 40px #FF3131, 0 0 55px #FF3131;
    }

    35% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF3131;
    }

    50% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF3131, 0 0 30px #FF3131, 0 0 40px #FF3131, 0 0 55px #FF3131, 0 0 75px #FF3131;
    }

    55% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF3131, 0 0 30px #FF3131, 0 0 40px #FF3131, 0 0 55px #FF3131;
    }

    90% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF3131, 0 0 30px #FF3131, 0 0 40px #FF3131, 0 0 55px #FF3131, 0 0 75px #FF3131;
    }

    100% {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FF3131, 0 0 30px #FF3131, 0 0 40px #FF3131;
    }
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
